body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: black; /* Fondo oscuro para resaltar estrellas */
  overflow-x: hidden; /* Permitir scroll vertical pero evitar horizontal */
}

h1,h2{
  color: #00ebfc;
}



.invitation-container {
  position: relative;
  z-index: 1; /* Asegura que el contenido esté por encima de las estrellas */
  color: white;
  text-align: center;
  padding: 3px;
  overflow: visible; /* Asegura que los detalles no se corten */
}




.details {
  margin: 10px auto;
  padding: 10px;
  max-width: 90%; /* Asegura un ancho manejable en pantallas pequeñas */
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente para destacar detalles */
  border-radius: 10px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 2; /* Asegura que esté por encima del fondo */
}

.birthday-image {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.pies {
  width: 250px;
  height: 170px;
  border-radius: 10px;
  margin-bottom: 20px;
}


.event-info p {
  color:#00fd0d;
  margin: 10px 0;
 text-decoration: wavy;
font-size: 20px;

}

#star-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0; /* Fondo detrás del contenido */
  pointer-events: none; /* Permite que el contenido encima sea interactivo */
}

.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  animation: fall 3s infinite ease-in-out;
  opacity: 0.8; /* Asegura que el confeti sea visible */
}

@keyframes fall {
  0% {
    transform: translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}

@keyframes float {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-20px) rotate(180deg);
  }
  100% {
    transform: translateY(0) rotate(360deg);
  }
}

.ballon {
  position: absolute;
  bottom: -50px;
  width: 40px;
  height: 60px;
  background: radial-gradient(circle, #fff 10%, #FF4500 60%);
  border-radius: 50% 50% 45% 45%;
  animation: float 4s infinite;
  opacity: 0.8;
}



.especial,.h1{
color: #ece800;
}

.atencion,.h2{
  color: #ece800;
  }

  .contador,.h2{
    color: #ffffff;
    }



    .mark,.nina {
      background: rgb(253, 1, 140);
    }

    .mark,.nino {
      background: rgb(1, 110, 253);
    }

    invitation-header,.nombre{
      color:#ece800
    }